html
  head
    title Hello!
  body
    h1 Student list:
    ul
      each student in students
        li= student.name + ' is from ' + student.city.name

    form(action='/students', method='POST')
      p Add a new student
      input(name='student_name')
        
      select(name='city_id')
        each city in cities
          option(value=city.id) #{city.name}
        
      input(type='submit')
        
