html
  head
    title Hello!
  body
    h1 Student list:
    ul
      each student in students
        li= student.name + ' is from ' + student.city.name + ' '
          a(href='/students/' + student.id) Show

    form(action='/students', method='POST')
      h3 Add a new student:
      input(name='student_name')
        
      select(name='city_id')
        each city in cities
          option(value=city.id) #{city.name}
        
      input(type='submit')
